<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udevs.io.e_space_mobile">
    <!-- Flutter needs it to communicate with the running personal_info
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
